@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@600&display=swap");

:root {
  --gray: #d3d3d3;
  --darkgray: #282828;
}
body {
  font-family: "Gabarito", cursive;
}
.navbar {
  z-index: 1000 !important;
  box-shadow: 0px 19px 5px -12px rgba(0, 0, 0, 0.1);
}

.carousel-item {
  height: 32.5rem;
  margin-top: 60px;
  background-color: #c0c0c0;
  position: relative;
  text-align: right;
}

.carousel-item h2 em {
  margin-right: 2rem;
  color: rgb(231, 230, 230);
}
.carousel-image {
  position: absolute;
  background-position: center;
  background-size: cover;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
}

.bg-gray {
  background-color: var(--gray);
}

.card-body img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card-title {
  color: var(--darkgray);
}

.card {
  height: 100%;
}

span,
#update-roster {
  color: var(--gray);
  font-size: 0.55rem;
}

.info-section {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-section::before {
  content: "";
  background-image: url("/landingPage-bs/images/spurs_wp.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(30%);
}

.info-text,
.team-logo {
  position: relative;
}

.info-text {
  border-radius: 0.375rem;
}
